    body { 
	  margin: 10px; 
	  font-family: arial,verdana,helvetica; 
	}
	  
	#mainblock
    {
    width: 732px;
    height: 680px;
    background-color: White;
    margin: 10px auto 90px 79px;
    text-align: left;
    overflow: hidden;
    
    font-family:Calibri;
    color: #000000;
    background-color:Silver;
    }       

	#blockMail
    {
    width: 584px;
    height: 272px;
    background-color: White;
    margin: 10px auto 15px 79px;
    text-align: left;
    overflow: hidden;
    
    font-family:Calibri;
    color: #000000;
    background-color:Silver;
    }       
	  
	  #menu {
		  width:750px;
		  background-color:Purple ;
		  text-align:center;
		  height:40px;
		  border-bottom:0px solid;
		  border-bottom-style:solid;		  
		  		
	  }
	  
	  #innermenuBlue {
		  height:40px;
		  border-bottom:1px solid;
		  position:relative;
		  background-color:Blue ;
	  }

	  #innermenuOrange {
		  height:40px;
		  border-bottom:1px solid;
		  position:relative;
		  background-color:Orange ;
	  }	  

	  #innermenuGreen {
		  height:40px;
		  border-bottom:1px solid;
		  position:relative;
		  background-color:Green ;
	  }	 
	  	  
	  #menu ul {
		  width:430px;
		  position:absolute;
		  bottom:-1px;
		  left:50%;
		  list-style-type: none;
		  margin:0px 0px 0px -215px;
		  padding:0px;
		  border:0px solid green;
		  overflow:hidden;
	  }
	  #menu ul li {
		  width:100px;
		  background-color:white;
		  padding:0px;
		  font-size:14px;
		  color:#3f464c;
		  float:left;
		  margin:0px 3px 0px 0px;
		  text-align:center;
		  border:1px solid;
		  border-bottom-width:0px;
		  position:relative;
	  }
	  pre {
		  width:360px;
		  border:1px solid white;		  
		  padding:10px;
	  }
	  a {
		  text-decoration:none;		  
		  padding:10px;
	  }
	  #menu ul li canvas {
		  width:6px;
		  height:6px;
	  }
	  
.mainblockPrincipal
{       
    width: 272px;
    height: 317px;
    background-color: White;
    margin: 10px auto 20px 0px;
    text-align: left;
    overflow: hidden;    
    font-family:Calibri;
    color: #000000;
    background-color:Silver;    
}
