################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DAO/obj/Debug
/Servicios.Mock/obj/Debug
/ServiciosTest/bin/Debug
/ServiciosTests/obj/Debug
/ServiciosTest/obj/Debug
/Negocio.Test/obj/Debug
/ServiciosTests/obj/Release
/Servicios.Mock/obj/Release
/Servicios/obj/Debug
/Negocio.Test/obj/Release
/Aplicacion/bin
/Negocio/obj/Debug
/Aplicacion/obj/Debug
