<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="NuestraTierraEntities" connectionString="metadata=res://*/NuestraTierra.csdl|res://*/NuestraTierra.ssdl|res://*/NuestraTierra.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ASUS\SQLEXPRESS;initial catalog=NuestraTierra;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="RipsaEntities" connectionString="metadata=res://*/Ripsa.csdl|res://*/Ripsa.ssdl|res://*/Ripsa.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ASUS\SQLEXPRESS;initial catalog=Ripsa;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ExpensasEntities" connectionString="metadata=res://*/Expensas.csdl|res://*/Expensas.ssdl|res://*/Expensas.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ASUS;initial catalog=Expensas;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>